@charset "UTF-8";
/*------------RESET------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  resize: none !important;
}

/*------------RESET------------*/
.navbar {
  width: 100vw;
}

.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

.container-fluid {
  background-color: #000d1f;
}

.navbar {
  font-family: "Lobster", cursive;
}

.navbar-collapse {
  background-color: 0, 0, 0, 0.335;
}

.nav-link {
  font-size: 20px;
  letter-spacing: 2px;
  transition: color 0.7ms ease;
  color: #e28a28 !important;
}

footer {
  bottom: 0;
  background: rgba(0, 0, 0, 0.452);
  height: auto;
  width: 100vw;
  padding-top: 10px;
  color: white;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footerContent p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 20px;
  font-family: "lobster", cursive;
}

.socialMedia {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socialMedia li {
  margin: 0 10px;
}
.socialMedia li a {
  text-decoration: none;
  color: whitesmoke;
}
.socialMedia li a i {
  font-size: 2rem;
  transition: color 0.4s ease;
}

a:hover i {
  color: #e28a28;
}

.footerBottomInfo {
  background: rgba(0, 0, 0, 0.671);
  width: 100vw;
  padding: 10px 0;
  text-align: center;
  font-family: "lobster", cursive;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  font-family: lobster two, cursive;
  font-size: 1.2rem;
  overflow: hidden;
  width: 85%;
  max-width: 600px;
  background: #000d1f69;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 15px;
}

label {
  display: block;
  text-align: left;
  color: blanchedalmond;
}

.txtb {
  border: 3px solid #e28a28;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label {
  display: block;
  text-align: left;
  color: blanchedalmond;
}
.txtb input,
.txtb textarea {
  background: #e28a28;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  margin-top: 6px;
}

.form-btn {
  display: inline-block;
  background: #e28a28;
  width: 50%;
  padding: 14px 0;
  margin-top: 8px;
}

/*------------body------------*/
body {
  background-image: linear-gradient(#e28a28, #000d1f);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
}

/*------------body------------*/
/*------------Títulos------------*/
.pageIntroduction {
  width: 100vw;
}

.pageTitle {
  font-family: Lobster, cursive;
  font-size: 40px;
}

.pageTitle {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.335);
  color: blanchedalmond;
}

.pageDescription {
  text-align: center;
  font-family: "Lobster", cursive;
  background-color: rgba(0, 0, 0, 0.335);
  color: #dbc4a1;
  letter-spacing: 2px;
  font-size: 20px;
}

/*------------Títulos------------*/
/*------------Cards------------*/
.containerCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.containerCards a {
  text-decoration: none;
}

.card {
  background: linear-gradient(#000d1f, #dfd4d4);
  width: 270px;
  height: 450px;
  margin: 10px;
  text-align: center;
  border-radius: 8% !important;
}
.card .cardImageContainer {
  display: flex;
  justify-content: center;
}
.card .cardName {
  font-family: Lobster, cursive;
  letter-spacing: 3px;
  padding: 1rem;
  color: #000d1f;
}
.card .cardText {
  font-family: Lobster two, cursive;
  letter-spacing: 3px;
  padding: 1rem;
}
.card .cardImage {
  width: 200px;
  height: 150px;
  margin: 15px 15px;
  border-radius: 15px;
}

.card:hover {
  background: linear-gradient(#e28a28, #3e6398);
  color: white;
  transform: scale(1.04);
  transition: all 0.5s ease;
}

/*------------Cards------------*/

/*# sourceMappingURL=style.css.map */
