.contactInfo {
    position: relative;
    min-height: 100vh;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgoldenrodyellow;

    .contacInfoContent {
        max-width: 800px;
        text-align: center;

        h2 {
            font-size: 36px;
            font-weight: 500;
            color: black;
        }

        p {

            font-weight: 300;
            color: black;

        }
    }
}

.contacInfoContainter {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .contactInfoContainerBox {
        width: 50%;
        display: flex;
    }
}