@import "variables";

.nosotrosContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.335);
    margin-bottom: 15px;

    .nosotrostext {
        font-family: lobster two, cursive;
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
        justify-content: center;
        margin: 10px 10px;
        color: blanchedalmond;
    }

    .nosotrosImgCont img {
        max-width: 500px;
        border-radius: 8px;
        border: 3px solid blanchedalmond;
        margin-bottom: 15px;
    }

}