@import "variables";
@import "global";
@import "navbar";
@import "footer";
@import "form";
@import "carrusel";
@import "nosotros";
@import "mixins";

/*------------body------------*/
body {
    background-image: linear-gradient($color_primario, #000d1f);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;
}

/*------------body------------*/

/*------------Títulos------------*/
.pageIntroduction {
    width: 100%;
}

.pageTitle {
    font-family: Lobster, cursive;
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.335);
    color: blanchedalmond;
}

.pageDescription {
    text-align: center;
    font-family: "Lobster", cursive;
    background-color: rgba(0, 0, 0, 0.335);
    color: rgb(219, 196, 161);
    letter-spacing: 2px;
    font-size: 20px;
    padding: 15px 15px;

}

/*------------Títulos------------*/
/*------------Cards------------*/
.containerCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
        text-decoration: none;
    }

}

.card {
    @include cardsOutline
}

.card:hover {
    background: linear-gradient($color_primario, $color_secundario);
    color: white;
    transform: scale(1.04);
    transition: all 0.5s ease;


}

/*------------Cards------------*/
/*------------404NotFound------------*/
.notFoundCont {
    display: flex;
    font-family: lobster two, cursive;
    font-weight: 600;
    font-size: 3rem;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: rgb(219, 196, 161);
    }
}

.notFoundImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------404NotFound------------*/