@import "variables";
@import "global";
@import "navbar";
@import "footer";
@import "form";

/*------------body------------*/
body {
    background-image: linear-gradient($color_primario, #000d1f);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;
}

/*------------body------------*/

/*------------Títulos------------*/
.pageIntroduction {
    width: 100vw;
}

.pageTitle {
    font-family: Lobster, cursive;
    font-size: 40px;
}

.pageTitle {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.335);
    color: blanchedalmond;
}

.pageDescription {
    text-align: center;
    font-family: "Lobster", cursive;
    background-color: rgba(0, 0, 0, 0.335);
    color: rgb(219, 196, 161);
    letter-spacing: 2px;
    font-size: 20px;
}

/*------------Títulos------------*/
.containerCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
        text-decoration: none;
    }

}

.card {
    background: linear-gradient(#000d1f, rgb(223, 212, 212));
    width: 270px;
    height: 400px;
    margin: 10px;
    text-align: center;
}

.card:hover {
    background: linear-gradient(#e28a28, #3e6398);
    color: white;
    transform: scale(1.04);
    transition: all 0.5s ease;
}

.cardImageContainer {
    display: flex;
    justify-content: center;

}

.cardName {
    font-family: Lobster, cursive;
    letter-spacing: 3px;
    padding: 1rem;
    color: #000d1f;
}

.cardText {
    font-family: Lobster two, cursive;
    letter-spacing: 3px;
    padding: 1rem;
}

.cardImage {
    width: 200px;
    height: 150px;
    margin: 15px 15px;
    border-radius: 15px;
}